.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  line-height: 32px;
  color: white;
  font-size: 24px;
}

.site-layout-background {
  background: rgb(237, 239, 244);
}

.site-card {
  /* padding: 30px; */
  /* background: #ececec; */
  box-shadow: 0 5px 30px -15px rgba(0,0,0,.2);
  border-radius: 5px;
}

.widget-title {
  display: inline;
  margin-right: 8px;
}

.ant-tag {
  font-size: 14px;
  font-weight: 600;
}